.header header{
  display: flex;
  justify-content: center;
  border-bottom: 0.1px solid lightgray;
}

.header{
  position: fixed;
  width: 100vw;
  background-color: #fff;
  top: 0;
}

.header-bar{
  left: 10px;
  right: 10px;
  width: 86%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.listings{
  height: 100vh;
  display: flex;
  margin-top: 12vh;
  left: 2vh;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
}

.listing{
  padding: 5px;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  height: 220px;
  width: 200px;
}

.listing-index{
  padding: 2px;
  display: flex;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 200px;
  transform: translate(-50%, -50%);
  background-color: #fff;

}

.login-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.barnb{
  text-decoration: none;
  color: rgba(255, 56, 92, 1);
}

.greeting{
  left: 2vw;
  right: 2vw;
}


.index-img{
  border: none;
  height: 200px;
  width: 200px;
  background-color: darkgray;
  border-radius: 5%;
}

.listing-show{
  margin-top: 10vh;
  width: 74vw;
  display: flex;
}

.listing-show-container{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.listing-show-img{
  width: 74vw;
  height: 300px;
  border-radius: 3%;
  display: flex;
}

#title{
  font-weight: 900;
  color: black;
  font-size: 18px;
}

.show-description{
  height: 400px;
  width: 34vw;
  /* border: 1px solid black; */
  left: 12vw;
  padding-top: 3px;
}

.calendar{
  height: auto;
  width: 30vw;
  border: 1px solid black;
  right: 38px;
  padding: 10px;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
}

.extra-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}


.img-container1{
  width: 34vw;
  height: 300px;
  border-radius: 3%;
  border: 1px solid #fff;
}

.img-container2{
  height: 150px;
  width: 17vw;
  border-radius: 3%;
  border: 1px solid #fff;
}



.second-img-container{
  width: 34vw;
  height: 300px;
  display: flex;
  /* flex-wrap: wrap; */
}

.calendar-inputs{
  display: flex;
  border: 1px solid black;
  border-radius: 5%;
}

.checkin{
  border-right: 1px solid black;
}
.input{
  padding: 2px;
}

.btn{
  color: white;
  background-color: rgba(255, 56, 92, 1);
  border: none;
  border-radius: 5%;
  cursor: pointer;
}
